/* @import url('https://fonts.googleapis.com/css?family=Dosis&display=swap'); */
@import url('https://fonts.googleapis.com/css?family=Dosis:300&display=swap');

* {
	box-sizing: border-box;
}

body, html {
	margin: 0;
	-webkit-overflow-scrolling: touch;
	height: 100%;
	font-family: 'Dosis', sans-serif;
}

a {
	text-decoration: none;
}

.navbar {
	background-color: #fff;
	position: fixed;
	top: 0;
	text-align: right;
	width: 100%;
	height: 80px;
	z-index: 1;
	border-bottom: 1px solid #dadada;
}

.navbar a {
	display: inline-block;
	color: #222;
	text-align: center;
	padding: 25px 20px;
	text-decoration: none;
	cursor: pointer;
}

.navbar a:hover {
	color: #444;
}

.navbar .active {
	color: #000;
}

.navbar ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.social {
	margin: 8px;
}

.social li {
	/* 	float: left; */
	display: inline-block;
	margin-left: 4px;
	margin-right: 4px;
}

.social li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	border: 1px solid white;
	border-radius: 50%;
}

.social li a:hover {
	color: #298330;
	background-color: #fff;
}

.container {
	width: 100%;
	margin: auto;
	align-items: center;
	padding: 40px 0;
	border-bottom: 1px solid #dadada;
}

.container:after {
	content: "";
	display: table;
	clear: both
}

.row:after {
	content: "";
	display: table;
	clear: both;
}

.wrap {
	max-width: 1230px;
	width: 100%;
	margin: 0 auto;
}

.wrap-small {
	max-width: 1024px;
	width: 100%;
	margin: 0 auto;
}


.logo {
	float: left;
}

.icon {
	background-image: url(../img/fold_logo.png);
    background-size: contain;
    width: 144px;
    height: 76px;
    background-position: center;
    background-repeat: no-repeat;
}

.filter {
	width: 100%;
	height: 80%;
	background-color: rgba(18, 43, 21, 0.4);
	position: absolute;
}

.center {
	text-align: center;
}

#section-title {
	height: 80%;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	background-image: url(../img/bg_1.jpg);
	text-align: center;
	color: white;
}

.title-site {
	font-size: 60px;
	display: block;
	margin-block-start: 0;
	margin-block-end: 0.4em;
	display: block;
}

.subtitle-site {
	font-size: 36px;
	width: 60%;
	margin: 0 auto;
    font-weight: 400 !important;
}

.wrap-title-site, .wrap-title-site-signup {
	position: relative;
	top: 30%;
	text-align: center;
}

.wrap-title-site {
	-ms-transform: translate(0, -50%);
	color: #fff;
	width: 100%;
	padding: 4px;
}

.container-title {
	text-align: center;
	color: #4e4e4e;
	font-size: 32px;
}

.subscribe-title {
	text-align: center;
	color: #FFF;
	font-size: 32px;
}

.email {
	padding: 12px 20px;
	width: 50%;
	display: inline-block;
}

.btn-sub {
	padding: 12px 20px;
	background-color: #20a8e7;
	background-color: #fd2cd0;
	color: white;
	display: inline-block;
	margin-top: 18px;
}

.col-1 {
	width: 8.33%
}

.col-2 {
	width: 20.66%
}

.col-3 {
	width: 25%
}

.col-4 {
	width: 33.33%
}

.col-5 {
	width: 41.66%
}

.col-6 {
	width: 50%
}

.col-7 {
	width: 58.33%
}

.col-8 {
	width: 66.66%
}

.col-9 {
	width: 75%
}

.col-10 {
	width: 83.33%
}

.col-11 {
	width: 91.66%
}

.col-12 {
	width: 100%
}

[class*=col-] {
	float: left;
	padding: 5px;
}

@media only screen and (max-width: 768px) {
	/* For mobile phones: */
	[class*="col-"] {
		width: 100%;
	}
	[class*="box-"] {
		width: 100% !important;
		padding-left: .83333rem;
		padding-right: .83333rem;
	}
	.agenda {
		width: 100%;
	}
	.text-gamer {
		width: 100%;
		max-width: 100%;
	}
	.box-left {
		width: 100% !important;
	}
	.box-left-2 {
		width: 100% !important;
	}
	.subtitle-site {
		font-size: 24px;
		width: 100%;
	}
	.title-site {
		font-size: 28px;
	}
}

.img-100 {
	height: 100%;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
}

.box-left {
	width: 48%;
	float: left;
	box-sizing: border-box;
	height: 50vh;
	margin: 4px;
}

.box-left-2 {
	width: 48%;
	float: left;
	box-sizing: border-box;
	/* height: 50vh; */
	margin: 1%;
}

.box-50 {
	width: 50%;
	float: left;
	box-sizing: border-box;
	padding: 10px;
}

.box {
	width: 100%;
	float: left;
	box-sizing: border-box;
	padding: 20px 40px;
}

.box-100 {
	width: 100%;
	float: left;
	box-sizing: border-box;
	/* 	margin: 1%; */
}

.box-3 {
	width: 33%;
	float: left;
	box-sizing: border-box;
}

.bg-img {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

.game-1 {
	background-image: url('../img/party.jpg');
}

.game-2 {
	background-image: url('../img/game_2.jpg');
}

.trailer-1 {
	background-image: url('../img/trailer.png');
}

.bg-news {
	background-image: url('../img/br_news.png');
}

.bg-projects {
	background-image: url('../img/projects_bg.png');
}

.project-bg {
	background-image: url('../img/projects_bg.jpg');
}

.bg-arqu {
	background-image: url('../img/arqu.jpg');
}

.bg-ferro {
	background-image: url('../img/barra_ferro.jpg');
}


.bg-eng {
	background-image: url('../img/eng.jpg');
}

.bg-struc {
	background-image: url('../img/bg_struc.jpg');
}

.long-text {
	line-height: 1.5em;
}

footer {
	background-color: #2a2b2d;
	color: #ffffff;
	padding: 80px;
}

footer .social {
	margin-top: 40px;
	margin-bottom: 40px;
}

.p-80 {
	padding-top: 80px;
	padding-right: 80px;
	/*     padding-bottom: 80px; */
	padding-left: 80px;
}

.white {
	color: white;
}

.links a {
	display: inline-block;
	color: #ffffff;
	text-align: center;
	padding: 10px 12px;
	text-decoration: none;
	cursor: pointer;
}

.copyright {
	display: block;
	margin: 30px;
}

.menu-normal {
	background-color: #525252;
	color: #dadada;
}

#space-header {
	height: 70px;
}

.project {
	position: relative;
}

.img-op {
	position: relative;
}

.page-header {
	position: relative;
	padding: 45px 0;
}

.page-header::before, .project::before, .img-op::before {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #000;
	opacity: .6;
}

.box-new-img {
	height: 40vh;
}

input, textarea {
	padding: 10px;
	border: 1px solid #e6e6e6;
	width: 100%;
}

.contact i {
	margin-right: 10px;
}

.contact span {
	color: #4f4c61;
}

.btn-submit {
	padding: 20px 40px;
    background-color: #2a2b2d;
    color: white;
    display: inline-block;
    cursor: pointer;
    float: right;
}

.btn-submit:hover {
	background-color: #4c4d50;
}

.row-img {
	display: flex;
	flex-wrap: wrap;
	padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
	flex: 25%;
	max-width: 25%;
	padding: 0 4px;
}

.column img {
	margin-top: 8px;
	vertical-align: middle;
	width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
	.column {
		flex: 50%;
		max-width: 50%;
	}
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
	.column {
		flex: 100%;
		max-width: 100%;
	}
}

.bg-project {
	text-align: center;
	color: white;
	z-index: 1;
	position: relative;
}

.bx-project {
	border-right: 1px solid white;
	position: relative;
	text-align: center;
	color: white;
	padding-top: 40px;
	padding-bottom: 40px;
}

.border-none {
	border: none;
}

.bx-project span {
	font-size: 36px;
	display: block;
	margin-block-start: 0.5em;
	margin-block-end: 0.5em;
}

.bx-project i {
	    font-size: 38px;
}

.title-box {
    transform: translate(0, -50%);
    color: #fff;
    width: 100%;
    padding: 4px;
    top: 50%;
    position: relative;
    text-align: center;
}